/*Global styles*/

body {
	background-color: #eee;
}

.formBox * {
	outline: none;
}

.formBox {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0px 10px 10px 10px;
	padding: 0px 10px 10px 10px;
	width: auto;
	max-width: 400px;
	border-style: solid;
	border-color: black;
	border-radius: 6px;
	background-color: #475d69;
}

.sending {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.9) url("img/loading.gif") center / 50px no-repeat;
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease 0s;
}

.formInput {
	outline: none;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	transition: all 0.5s ease 0s;
}

.formInput:focus {
	box-shadow: 0 0 20px #d8cfe9d4;
}

.formInput.error {
	box-shadow: 0 0 15px red;
}

/*input text styles*/

.inputText {
	margin-bottom: 5px;
	height: 50px;
	width: 85%;
	padding: 0 20px;
	border-radius: 6px;
	font-size: 18px;
}

/*input radio styles*/

.radioOption{
	margin: 0px 0px 10px 0px;
}
.inputRadio {
	display: none;
}

.labelRadio{
	display: inline-flex;
	font-size: 16px;
	line-height: 140%;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.labelRadio::before {
	content: "";
	align-self: flex-start;
	flex: 0 0 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0px 10px 0px 0px;
}

.labelRadio::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #fff;
	transition: background-color 0.5s ease 0s;
}

.inputRadio:checked + .labelRadio::after {
	background-color: #818689;
}

/*input checkbox styles*/

.checkboxInput {
	display: none;
}

.checkboxLabel {
	font-size: 16px;
	line-height: 140%;
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.checkboxLabel::before {
	content: "";
	align-self: flex-start;
	flex: 0 0 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 4px;
	margin: 0px 10px 0px 0px;
}
.checkboxLabel::after {
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: #fff;
	border-radius: 4px;
	transition: background-color 0.5s ease 0s;
}

.checkboxInput:checked + .checkboxLabel::after {
	background-color: #818689;
}

/*input select styles*/
.inputSelect {
	width: 100%;
	display: flex;
	align-items: center;
	min-height: 30px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 20px;
}

/*input button styles*/

.buttonOptions {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30px;
	background-color: #fff;
	font-size: 18px;
	cursor: pointer;
	border-radius: 20px;
	transition: background-color 0.5s ease 0s;
	position: relative;
	top: 0;
}
.buttonOptions:hover {
	background-color: #818689;
}
.buttonOptions:active {
	top: 3px;
	box-shadow: 0 2px 0 #161b13;
}